{% extends "template.html" %}
{% block index %}
    <h1>Color Input</h1>
    <form action="{{ url_for('color') }}" method="POST">
    <p><input type="range" name="R" min="0" max="255" value="127" />Red<span class="value">127</span></p>
    <p><input type="range" name="G" min="0" max="255" value="127" />Green<span class="value">127</span></p>
    <p><input type="range" name="B" min="0" max="255" value="127" />Blue<span class="value">127</span></p>
    <p><input type="range" name="Bright" min="0" max="255" value="127" />Brightness<span class="value">127</span></p>
    </form>
    <script type="text/javascript">
      $('input').on('input', function(evt) {
        // Update the value for shown next to the slider
        $(this).closest('p').find('.value').text($(this).val())

        // Build form data to change the rpi led color
        data = {
          R: $('input[name="R"]').val(),
          G: $('input[name="G"]').val(),
          B: $('input[name="B"]').val(),
          Bright: $('input[name="Bright"]').val()
        }

        // Make the actual request
        $.post("{{ url_for('color') }}", $.param(data));

      });
    </script>
{% endblock %}

