<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>LED - RGB</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='site.css') }}" />

</head>
<body >
{% block index %}
{% endblock %}
{% block color %}
{% endblock %}
</body>
</html>
